body {
    background-color: #FFF;
    font-family: arial, sans-serif;
    text-decoration: none;
    font-size: small;
    color: #202124;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    min-width: 400px;
}

.page-content-wrapper { 
    height: 100%;
}

.footer-bar-wrapper > .footer-left > .footer-item > a {
    color: rgb(112, 117, 122);
}

.footer-bar-wrapper > .footer-center > .footer-item > a {
    color: rgb(112, 117, 122);
}

.footer-bar-wrapper > .footer-right > .footer-item > a {
    color: rgb(112, 117, 122);
}